@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.header {
  position: fixed;
  z-index: 3;
  max-width: 1920px;
  width: 100%;
  background-color: rgba(16, 16, 29, 0.8980392157);
  height: 100px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.header__logo {
  font-weight: 800;
  font-size: 28px;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}
@media screen and (max-width: 440px) {
  .header__logo {
    font-size: 20px;
  }
}
.header__menu {
  max-width: 435px;
  width: 100%;
}
@media screen and (max-width: 900px) {
  .header__menu {
    display: none;
  }
}
.header__menu-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}
.header__menu-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
}
.header__menu-link:hover {
  border-bottom: 1px solid #ffffff;
}
.header__menu-link--active {
  color: #43abf0;
}
.header__menu-link--active:hover {
  border-bottom: 1px solid #43abf0;
}

.mob-menu {
  height: 0;
  display: none;
}
@media screen and (max-width: 900px) {
  .mob-menu {
    display: block;
  }
}

#mob-menu__toggle {
  opacity: 0;
}

.mob-menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 37px;
  right: 37px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.mob-menu__btn > span,
.mob-menu__btn > span::before,
.mob-menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition: all ease 0.3s;
}

.mob-menu__btn > span::before {
  content: "";
  top: -8px;
}

.mob-menu__btn > span::after {
  content: "";
  top: 8px;
}

.mob-menu__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: fixed;
  visibility: hidden;
  top: 100px;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: rgba(16, 16, 29, 0.8980392157);
  transition: all ease 0.3s;
}

.mob-menu__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
}
.mob-menu__link:hover {
  border-bottom: 1px solid #ffffff;
}
.mob-menu__link--active {
  color: #43abf0;
}
.mob-menu__link--active:hover {
  border-bottom: 1px solid #43abf0;
}

#mob-menu__toggle:checked ~ .mob-menu__btn > span {
  transform: rotate(45deg);
}

#mob-menu__toggle:checked ~ .mob-menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#mob-menu__toggle:checked ~ .mob-menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#mob-menu__toggle:checked ~ .mob-menu__list {
  visibility: visible;
  right: 0;
}

.hero-section {
  width: 100%;
  height: 850px;
  background-image: url("../assets/images/office.jpg");
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 900px) {
  .hero-section {
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media screen and (max-width: 550px) {
  .hero-section {
    background-position: revert;
  }
}
.hero-section__inner {
  display: flex;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .hero-section__inner {
    padding-top: 120px;
  }
}
.hero-section .hero-section__content {
  margin-right: 300px;
}
@media screen and (max-width: 900px) {
  .hero-section .hero-section__content {
    margin-right: 0;
  }
}
.hero-section .hero-section__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  max-width: 780px;
  margin-bottom: 80px;
}
@media screen and (max-width: 900px) {
  .hero-section .hero-section__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    max-width: 60%;
    margin-bottom: 28px;
  }
}
@media screen and (max-width: 550px) {
  .hero-section .hero-section__title {
    max-width: 100%;
  }
}
.hero-section .hero-section__description {
  margin-bottom: 80px;
}
@media screen and (max-width: 900px) {
  .hero-section .hero-section__description {
    margin-bottom: 28px;
  }
}
.hero-section .hero-section__description-heading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
@media screen and (max-width: 900px) {
  .hero-section .hero-section__description-heading {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
.hero-section .hero-section__description-list {
  list-style-type: "-  ";
  padding-left: 20px;
}
.hero-section .hero-section__description-item {
  font-size: 20px;
  margin-bottom: 5px;
  line-height: 24px;
}
@media screen and (max-width: 900px) {
  .hero-section .hero-section__description-item {
    font-size: 14px;
    margin-bottom: 0;
  }
}
.hero-section__buttons {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 900px) {
  .hero-section__buttons {
    margin-bottom: 28px;
  }
}

.order-section {
  width: 100%;
  height: 920px;
  background-color: #272733;
  position: relative;
}
@media screen and (max-width: 900px) {
  .order-section {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.order-section:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url("../assets/images/map-min.png");
  background-position: center;
  background-size: cover;
  z-index: 1;
}
.order-section__inner {
  display: flex;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 900px) {
  .order-section__inner {
    padding: 28px 15px;
  }
}
.order-section__description {
  text-align: center;
  margin-bottom: 80px;
}
@media screen and (max-width: 900px) {
  .order-section__description {
    margin-bottom: 32px;
  }
}
.order-section__title {
  font-size: 36px;
  font-weight: 600;
  line-height: 43.2px;
  margin-bottom: 30px;
  color: #ffffff;
}
@media screen and (max-width: 900px) {
  .order-section__title {
    font-size: 28px;
    margin-bottom: 16px;
  }
}
.order-section__subtitle {
  color: #bbbbbb;
  font-size: 18px;
}
.order-section .scheme {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-bottom: 80px;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .order-section .scheme {
    flex-direction: column;
  }
}
.order-section .scheme .dots {
  width: 100%;
  height: 6px;
  display: flex;
  padding: 0 100px;
  max-width: 1200px;
  justify-content: space-around;
  position: absolute;
  top: 50px;
}
@media screen and (max-width: 900px) {
  .order-section .scheme .dots {
    flex-direction: column;
    align-items: center;
    height: 90%;
    top: 5%;
  }
}
@media screen and (max-width: 550px) {
  .order-section .scheme .dots {
    left: -10%;
  }
}
.order-section .scheme .dots__item {
  width: 6px;
  height: 6px;
  background-color: #6f6d7b;
  border-radius: 50%;
}
.order-section .scheme .scheme__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 204px;
  width: 100%;
  padding: 0 10px;
  position: relative;
}
@media screen and (max-width: 900px) {
  .order-section .scheme .scheme__item {
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
    padding: 0 40px;
  }
}
@media screen and (max-width: 440px) {
  .order-section .scheme .scheme__item {
    padding: 0 10px;
  }
}
.order-section .scheme .scheme__item-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 5px #286690;
  background-color: #3e9cdc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 900px) {
  .order-section .scheme .scheme__item-circle {
    margin-left: 5vw;
  }
}
@media screen and (max-width: 550px) {
  .order-section .scheme .scheme__item-circle {
    width: 60px;
    height: 60px;
    margin-left: 0;
  }
  .order-section .scheme .scheme__item-circle .scheme__item-image {
    width: 15px;
    height: auto;
  }
}
.order-section .scheme .scheme__item-text {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .order-section .scheme .scheme__item-text {
    width: 30%;
  }
}
@media screen and (max-width: 550px) {
  .order-section .scheme .scheme__item-text {
    font-size: 13px;
    width: 45%;
  }
}
.order-section .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
}
.order-section .form__group {
  display: flex;
  width: 100%;
  gap: 30px;
}
@media screen and (max-width: 900px) {
  .order-section .form__group {
    flex-direction: column;
  }
}
.order-section .form__group-item {
  display: flex;
  flex: 1 1 0;
  padding: 10px;
  background-color: #dfdfe1;
  border-radius: 3px;
  border: 1px solid #ffffff;
  font-size: 18px;
  height: 45px;
  align-items: center;
}
.order-section .form__group-item::-moz-placeholder {
  color: #272733;
}
.order-section .form__group-item::placeholder {
  color: #272733;
}
@media screen and (max-width: 900px) {
  .order-section .form__group-item {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .order-section .form__group-item {
    font-size: 14px;
  }
}
.order-section .form__group .form__select {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #dfdfe1;
  border: 1px solid #ffffff;
  border-radius: 3px;
  padding: 10px;
}
.order-section .form__group .form__select .form__select-input {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer;
  font-size: 18px;
}
.order-section .form__group .form__select .form__select-input:focus, .order-section .form__group .form__select .form__select-input.open {
  outline: 0;
}
.order-section .form__group .form__select .form__select-input::-moz-placeholder {
  color: #272733;
}
.order-section .form__group .form__select .form__select-input::placeholder {
  color: #272733;
}
@media screen and (max-width: 600px) {
  .order-section .form__group .form__select .form__select-input {
    font-size: 14px;
  }
}
.order-section .form__group .form__select.active {
  border-radius: 3px 3px 0 0;
  border: 1px solid #3a3c4c;
  background-color: #3a3c4c;
}
.order-section .form__group .form__select.active .form__select-input {
  color: #ffffff;
}
.order-section .form__group .form__select.active .form__select-input::-moz-placeholder {
  color: #ffffff;
}
.order-section .form__group .form__select.active .form__select-input::placeholder {
  color: #ffffff;
}
.order-section .form__group .form__select .form__select-list {
  list-style: none;
  overflow: hidden;
  max-height: 0;
  background-color: #272733;
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
}
.order-section .form__group .form__select .form__select-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #3d4050;
  border-radius: 3px;
}
.order-section .form__group .form__select .form__select-list::-webkit-scrollbar {
  width: 7px;
  background-color: #272733;
}
.order-section .form__group .form__select .form__select-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #3e9cdc;
}
.order-section .form__group .form__select .form__select-list.open {
  max-height: 180px;
  overflow: auto;
}
.order-section .form__group .form__select .form__select-list .form__select-item {
  position: relative;
  height: 40px;
  padding: 1rem;
  font-size: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 1;
  color: #ffffff;
}
.order-section .form__group .form__select .form__select-list .form__select-item:hover {
  color: #3e9cdc;
}
.order-section .form__group .form__select .form__select-list .form__select-item.closed {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0;
}
@media screen and (max-width: 600px) {
  .order-section .form__group .form__select .form__select-list .form__select-item {
    font-size: 14px;
  }
}
@-moz-document url-prefix() {
  .order-section .form__group .form__select .form__select-list {
    overflow-y: scroll;
    scrollbar-color: #3e9cdc #3d4050;
    scrollbar-width: thin;
  }
}
.order-section .form__group-file {
  flex: auto;
  width: 33%;
  gap: 10px;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #3e9cdc;
}
.order-section .form__group-file span {
  height: 18px;
}
@media screen and (max-width: 900px) {
  .order-section .form__group-file {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .order-section .form__group-file {
    font-size: 14px;
    height: 15px;
  }
}
.order-section .form__group #fileupload {
  display: none;
}
.order-section .form .form__range {
  display: flex;
  flex-direction: column;
  width: 69%;
}
@media screen and (max-width: 900px) {
  .order-section .form .form__range {
    width: 100%;
  }
}
.order-section .form .form__range-text {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 18px;
}
@media screen and (max-width: 600px) {
  .order-section .form .form__range-text {
    font-size: 14px;
  }
}
.order-section .form .form__range-input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 6px;
  background: #dfdfe1;
  border: 1px solid #ffffff;
  width: 100%;
}
.order-section .form .form__range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 24px;
  width: 24px;
  background: #42a9ed;
  border-radius: 50%;
  border: none;
  border: 3px solid #286690;
}
.order-section .form .form__range-input::-moz-range-thumb {
  height: 18px;
  width: 18px;
  background: #42a9ed;
  border-radius: 50%;
  border: none;
  border: 3px solid #286690;
}
.order-section .form .form__button {
  padding: 18px 25px;
  font-size: 15px;
  max-width: 370px;
  margin-bottom: 30px;
}
@media screen and (max-width: 600px) {
  .order-section .form .form__button {
    font-size: 14px;
  }
}

.footer {
  width: 100%;
  height: 80px;
  background-color: #3d4050;
}
@media screen and (max-width: 1200px) {
  .footer {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.footer__inner {
  display: flex;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .footer__inner {
    flex-direction: column;
  }
}
.footer .footer__item {
  padding: 0 40px;
  border-left: 1px solid #c3c3c3;
}
@media screen and (max-width: 1200px) {
  .footer .footer__item {
    border-left: none;
    border-bottom: 1px solid #c3c3c3;
    padding: 24px;
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.footer .footer__item:first-child {
  padding-left: 0;
  border-left: none;
}
@media screen and (max-width: 1200px) {
  .footer .footer__item:first-child {
    padding: 24px;
  }
}
.footer .footer__item:last-child {
  padding-right: 0;
}
@media screen and (max-width: 1200px) {
  .footer .footer__item:last-child {
    padding: 24px;
    border-bottom: none;
  }
}
.footer .footer__item-text {
  color: #ffffff;
  font-size: 13px;
  white-space: nowrap;
}
@media screen and (max-width: 440px) {
  .footer .footer__item-text {
    white-space: wrap;
    text-align: center;
  }
}
.footer .footer__list {
  display: flex;
  width: 100%;
  gap: 40px;
  height: 18px;
}
@media screen and (max-width: 1200px) {
  .footer .footer__list {
    justify-content: center;
  }
}
@media screen and (max-width: 440px) {
  .footer .footer__list {
    flex-wrap: wrap;
    height: -moz-fit-content;
    height: fit-content;
    gap: 10px;
  }
}
.footer .footer__list-item {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 1200px) {
  .footer .footer__list-item {
    flex: 0;
  }
}
.footer .footer__list-text {
  color: #ffffff;
  font-size: 13px;
  white-space: nowrap;
}
.footer .footer__list-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  white-space: nowrap;
}

@font-face {
  font-family: "Lato-rus";
  src: url("../assets/fonts/Lato Regular.ttf") format("truetype");
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Lato-rus";
}

.logo {
  text-decoration: none;
  cursor: pointer;
}

.text {
  text-transform: uppercase;
}
.text--blue {
  color: #43abf0;
}

.button {
  padding: 15px 10px;
  max-width: 183px;
  width: 100%;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  background-color: #3e9cdc;
  border: 1px solid #ffffff;
  transition: all ease 0.3s;
}
.button:hover {
  background-color: #286690;
}
.button--white {
  color: #2a2b30;
  background-color: #ffffff;
  border: 1px solid #6f6d7b;
}
.button--white:hover {
  background-color: #dfdfe1;
}/*# sourceMappingURL=main.css.map */